<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tu Portal de Tecnología</title>
</head>
<body>
    <header>
        <h1>Bienvenido a tu Portal</h1>
    </header>

    <main class="container mt-4">
        <div class="section-container">
            <h2>¡Explora el Mundo de la Tecnología!</h2>
            <p>Aquí puedes encontrar contenido relacionado con las últimas tendencias en tecnología.</p>
        </div>

        <div class="section-container">
            <h3>¿Qué es la Tecnología?</h3>
            <p>La tecnología es el conjunto de conocimientos técnicos, ordenados científicamente, que permiten diseñar y crear bienes y servicios que facilitan la adaptación al medio y satisfacen las necesidades de las personas.</p>
        </div>

        <div class="section-container">
            <h3>Beneficios de estar al Día con la Tecnología</h3>
            <ul>
                <li>Acceso a información y comunicación instantánea.</li>
                <li>Automatización de tareas para aumentar la eficiencia.</li>
                <li>Facilita el aprendizaje y la educación a distancia.</li>
            </ul>
        </div>

        <div class="section-container">
            <h3>Explora Nuevos Horizontes Tecnológicos</h3>
            <p>La tecnología está en constante evolución. Mantente actualizado explorando nuevos campos como inteligencia artificial, realidad virtual, blockchain, y más.</p>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p>© 2024 Tu Marca</p>
        </div>
    </footer>
</body>
</html>


